/* fix display so text takes up more of the page on desktop */
.wy-nav-content {
    max-width: 75% !important;
}

/* changes color under the logo and search box */
.wy-side-nav-search {
  background-color: #133f47;
  border: 1px;
}

/* changes color of the top nav bar on mobile */
.wy-nav-top {
  background-color: #133f47;
}

/* changes defualt background color for main body/text */
.wy-nav-content {
  background-color: #fdfcfb;
}

/* changes background color of side nav bar */
.wy-nav-side {
  background-color: #f6eee6;
}

/* changes text and hover colors to make nav bar legible */
.wy-menu-vertical a {
  color: #404040;
}

.wy-menu-vertical a:hover {
  background-color: #e4cab5;
}

/* replace the copyright to eliminate the copyright symbol enforced by
   the ReadTheDocs theme but eschewed by our legal team */
div[role=contentinfo] {
	visibility: hidden;
	position: relative;
}

div[role=contentinfo]:after {
	visibility: visible;
	position: absolute;
	top: 0;
	left: 0;
	content: url(https://i.creativecommons.org/p/zero/1.0/88x31.png);
}
